{% extends "base.html" %}
{% block title %}Supply Chain | {{ config.SITE_NAME }}{% endblock %}
{% block meta_description %}Europack represents supply chain and factory protection equipment, including impact protection for factory premises from moving masses, through partners such as Stommpy.{% endblock %}
{% block content %}
{% set page_title = "Supply Chain" %}
{% set category_tagline = "Ensure the best quality" %}
{% set category_intro = "Protections for factory premises against impacts from moving masses" %}
{% include "components/category_archive.html" %}
{% endblock %}
