<div class="portfolio-two-column-section pt-5 mb-130">
  <div class="container">
    <div class="row g-md-4 gy-5 mb-70 grid">
      {% for brand in brands %}
      <div class="col-md-6 element-item">
        <div class="eg-card4">
          <div class="card-img">
            <a href="{{ brand.link }}" target="_blank" rel="noopener">
              <img src="{{ brand.img }}" alt="{{ brand.name }}">
            </a>
          </div>
          <div class="card-content">
            <div class="title-and-btn">
              <h4><a href="{{ brand.link }}" target="_blank" rel="noopener">{{ brand.name }}</a></h4>
              <a class="explore-btn" href="{{ brand.link }}" target="_blank" rel="noopener">
                Explore More
                <svg height="12" viewBox="0 0 12 12" width="12" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M10.1865 1.06237L0 11.2484L0.751627 12L10.9376 1.81347V8.85645H12V0H3.14355V1.06237H10.1865Z" fill-rule="evenodd"></path></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <p>More agencies in this category are being added soon.</p>
      {% endfor %}
    </div>
  </div>
</div>
