<section class="contact-section2">
  <div class="container-fluid one pl--95">
    <div class="row g-4">
      <div class="col-sm-6 d-flex align-items-center">
        <div class="contact-content">
          <h2 class="text-white text-sm-start text-center">Contact Us</h2>
        </div>
      </div>
      <div class="col-sm-6 d-flex align-items-center justify-content-sm-end justify-content-center">
        <div class="magnetic-wrap">
          <div class="banner-btn magnetic-item">
            <a href="{{ url_for('main.contact') }}" aria-label="Contact Us">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.8 2.2L2.2 15.8M15.8 2.2H5M15.8 2.2V13" stroke="currentColor" stroke-width="1.5"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
