<section class="horizontal-scrolling-section">
  <div class="single-scroll-container two">
    <div class="container-fluid one pl--95">
      <div class="horizontal-scrolling-content two">
        <div class="horizental-scrolling-top-content">
          <div class="section-title1 two">
            <h2>&ldquo;At Europack I.S., we don&rsquo;t just sell equipment &mdash; we transfer technical knowledge and support our customers at every step, before and after installation.&rdquo;</h2>
          </div>
          <div class="name-degi">
            <h5>Alexandros Paraskevaidis,</h5>
            <span>Company CEO</span>
          </div>
        </div>
        <div class="horizental-scrolling-bottom-content">
          <div class="consulting">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="currentColor" stroke-width="1.5"></path></svg>
            <p><strong>The first step in optimizing your production</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
